@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sigmar&display=swap');
body{
	background-color:black;
}

h1{
	font-family: 'Sigmar', cursive;
	color: white;
	text-align: center;
}

p{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("https://i.imgur.com/PWRjepO.png");

  /* Set a specific height */
  min-height: 400px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}